# show directory listings
Options +Indexes

# 301 redirect root to forum subdir.
RedirectMatch 301 ^/$ /xf/

# NFS.N suggested for extra SSL security
# https://members.nearlyfreespeech.net/forums/viewtopic.php?t=8567&sid=b2978793de9990d4aa9dd686491377f9

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^.*$ https://www.xen.altrugenics.com%{REQUEST_URI} [L,R=301]

Header set Strict-Transport-Security "max-age=31536000;includeSubDomains" "expr=%{req_novary:X-Forwarded-Proto}=='https'"
